<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.kymjs.rxvolley">

    <application android:allowBackup="true">
    </application>

    <uses-permission
        android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>

</manifest>
